body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

header {
  display: flex;
  justify-content: space-between;
  background: #2b2b2b;
  padding: 10px 20px;
  color: #fff;
}

.user-id {
  cursor: pointer;
}

.profile, .upload-section {
  padding: 20px;
  background: white;
  margin: 10px;
  border-radius: 10px;
}

input, textarea, button {
  display: block;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
}

button {
  background: #00b894;
  color: white;
  border: none;
  cursor: pointer;
}
